.header__img {
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
    .header__img {
        width: 104px;
        height: 25px;
        margin-bottom: 30px;
    }
}