.profile__edit {
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    background: transparent;
    margin-left: 18px;
    transition: opacity 0.3s;
}

.profile__edit:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}