.popup__fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

@media screen and (max-width: 550px) {
    .popup__container {
        row-gap: 37px;
        margin-top: 24px;
    }
}