.popup__button {
    background: #000000;
    color: #ffffff;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    border: 0;
    height: 50px;
    transition: opacity 0.3s;
    border-radius: 2px;
    margin-top: 13px;
}

.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .popup__button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}