.profile__add {
    border: 0;
    padding: 0;
    background: transparent;
    align-self: center;
    width: 150px;
    transition: opacity 0.3s;
}

.profile__add:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile__add {
        margin-top: 36px;
        width: 282px;
    }
}