.popup__field-error {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    margin-bottom: 13px;
    margin-top: 5px;
    display: inline-block;
    height: 20px;
}