.popup__close-button {
    position: absolute;
    left: calc(100% + 8px);
    bottom: calc(100% + 8px);
}

@media screen and (max-width: 550px) {
    .popup__close-button{
        left: calc(100% - 20px);
        bottom: calc(100% + 16px);
    }
}